<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>MJTJP SakkoApp</title>
 
 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.3.6/css/font-awesome.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
	<script src="../static/js/jquery-1.11.2.js"></script>	
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
					<li role="presentation"  class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="/feed">Sakkofeedi
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/feed">Sakkofeedi</a></li>
						<li><a href="/userHome">Omat sakot</a></li>
					</ul>
                    </li>
					<li role="presentation" class="active"><a href="#">Lisää sakko</a>
                    </li>
					<li role="presentation"><a href="/settings">Asetukset</a>
                    </li>
                    <li role="presentation"><a href="/logout">Poistu</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SakkoApp</h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/addWish">
                <fieldset>
 
                    <!-- Form Name -->
                    <legend>Lisää sakko</legend>
 
					<!-- Text list -->
					<div class="form-group">
						<label class="col-md-4 control-label" id="sel1">Sakon saaja</label>
						<div class="col-md-4 accordion">
							<select class="col-md-4 form-control" id="sel1" name="inputJasen">
								<option selected disabled class="text-hide">Valitse saaja</option>
								<option>Haizee</option>
								<option>kalja3000</option>
								<option>Karlin</option>
								<option>kerhonsihteeri</option>
								<option>Marto-97</option>
								<option>Myölystö</option>
								<option>Rommila</option>
								<option>Skali</option>
								<option>Stagen</option>
								<option>s t a k a</option>
								<option>viidakonVIP</option>
								<option data-toggle="collapse" data-parent"'#accordion' href="#muusaaja">Joku muu?</option>
							</select>
						</div>
					</div>

				   <!-- Text input-->
                    <div id="muusaaja" data-parent='#accordion' class="form-group panel-collapse collapse">
                        <label class="col-md-4 control-label" for="txtTitle">Muu saaja</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputMuu" type="text" placeholder="Muu saaja" class="form-control input-md">
                        </div>
                    </div>
					
					<!--hidden field -->
					<input type="hidden" name="inputTitle" />
 
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPost">Sakon syy</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtPost" name="inputDescription"></textarea>
                        </div>
                    </div>
 
					<!-- Sakon määrä -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="txtPost">Sakon määrä</label>
                        <div class="col-md-4">
                            <input class="form-control" type="number" id="txtMaara" placeholder="1" name="inputMaara" min="0" step="1"/>
                        </div>
                    </div>
  
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Julkaise" />
                        </div>
                    </div>
 
 					<!-- Varoitus -->
					<div class = "form-group">
						<label class="col-md-4 control-label"></label>
							<div class="col-md-4">
					Ymmärrän, että sakon lisääminen aiheuttaa mielipahaa. Lisäämällä sakon otan vastuun
					kaikista tulevista paineista sakkoon liittyen.
							</div>
						</div>
					</div>
 
                </fieldset>
            </form>
 
        </section>
        <footer class="footer">
            <p>&copy; MJTJP</p>
        </footer>
 
    </div>
</body>
 
</html>