<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>MJTJP SakkoApp</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
    <script src="../static/js/jquery-1.11.2.js"></script>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                     <li role="presentation"><a href="/userHome">Koti</a>
                    </li>
					<li role="presentation" class="active"><a href="#">Lisää sakko</a>
                    </li>
                    <li role="presentation"><a href="/logout">Poistu</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SakkoApp</h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/addWish">
                <fieldset>
 
                    <!-- Form Name -->
                    <legend>Lisää sakko</legend>
 
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Sakon saaja</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputTitle" type="text" placeholder="Saajan nimi" class="form-control input-md">
                        </div>
                    </div>
 
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPost">Sakon syy</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtPost" name="inputDescription"></textarea>
                        </div>
                    </div>
 
					<!-- Sakon määrä -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="txtPost">Sakon määrä</label>
                        <div class="col-md-4">
                            <input class="form-control" type="number" id="txtMaara" name="inputMaara" min="0" step="1"/>
                        </div>
                    </div>
 
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Julkaise" />
                        </div>
                    </div>
 
                </fieldset>
            </form>
 
        </section>
        <footer class="footer">
            <p>&copy; MJTJP</p>
        </footer>
 
    </div>
</body>
 
</html>