<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>MJTJP SakkoApp</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="/video">Video</a></li>
		            <li role="presentation" ><a href="/">Koti</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SakkoApp</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Youtube haku</h1>
			<form class="form-signin" action="/youtube_search" method="post">
			<label for="inputhaku" class="sr-only">Hae Youtubesta</label>
			<input  name="tubehaku" id="tubehaku" class="form-control" placeholder="Hakusana" required autofocus>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Hae</button>
			
            
        </div>
 
        
 
        <footer class="footer">
            <p>&copy; MJTJP</p>
        </footer>
 
    </div>
</body>
 
</html>