<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>MJTJP SakkoApp</title>
 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
	<script src="../static/js/jquery-1.11.2.js"></script>	
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	
	<script>
			$(function() {
			
			GetUsers();
			$('#btnUpdate').click(function() {
				$.ajax({
					url: '/updateUser',
					data: {
						username: $('#editUsername').val(),
						name: $('#editName').val(),
						email: $('#editEmail').val(),
						id: localStorage.getItem('editId')},
					type: 'POST',
					success: function(res) {
						$('#editModal').modal('hide');
							GetUsers();
					},
					error: function(error) {
						console.log(error);
					}
				});
			});
		});
		

 
 
    function GetUsers(){
        $.ajax({
            url: '/getUser',
            type: 'GET',
            success: function(res) {
               console.log(res)
				var wishObj = JSON.parse(res);

            },
            error: function(error) {
                console.log(error);
            }
        });
    }

	function Edit(elm){
		localStorage.setItem('editId',$(elm).attr('data-id'));
		$.ajax({
			url: '/getUserById',
			data: {
				id:$(elm).attr('data-id')},
			type: 'POST',
			success: function(res) {
				console.log(res);
				var data = JSON.parse(res);
				$('editName').val(data[0]['Name']);
				$('editUsername').val(data[0]['Username']);
				$('editEmail').val(data[0]['Email']);
				$('editModal').modal();
			},
			error: function(error) {
				console.log(error);
			}
		});
	}

	</script>

	<style>
	.trash {
		color: rgb(209, 91, 71);
	}
	.panel-body .checkbox {
		display: inline-block;
		margin: 0px;
	}
	.list-group {
		margin-bottom: 0px;
	}
	</style>
	
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
					<li role="presentation"><a href="/userHome">Sakkofeedi</a>
                    </li>
                    <li role="presentation"><a href="/showAddWish">Lisää sakko</a>
					</li>
					<li role="presentation" class="active"><a href="/settings">Asetukset</a>
                    </li>
					<li role="presentation"><a href="/logout">Poistu</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SakkoApp</h3>
        </div>
    </div>

	<div 
		<div class="action-buttons">
			<a data-id=${Id} onclick="Edit(this)"data-toggle="modal" data-target="#editModal" style="cursor: pointer;"><span role="button"><span class="glyphicon glyphicon-pencil"</span></span></a>
		</div>
 
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="editModalLabel">Muokkaa käyttäjätietoja</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="recipient-name" class="control-label">Käyttäjänimi:</label>
							<input type="text" class="form-control" id="editUsername">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="control-label">Nimi:</label>
							<input type="text" class="form-control" id="editName">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="control-label">Sähköposti:</label>
							<input type="text" class="form-control" id="editEmail">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
					<button type="button" id="btnUpdate" class="btn btn-primary">Muokkaa</button>
				</div>
			</div>
		</div>
	</div>
 
 
 
	<footer class="footer">
		<p>&copy; MJTJP</p>
	</footer>
 

</body>
 
</html>