<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>MJTJP SakkoApp</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="/video">Video</a>
                    </li>
					<li role="presentation" ><a href="/">Koti</a></li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">SakkoApp</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Hakutulokset</h1>
			
			<h2> Videot </h2>
			{% for video in videos %}
			<li><a href="{{videos[video]}}" target="_blank"> {{video}} </a> </li>
			{% endfor %}
            
			<h2> Kanavat </h2>			
			{% for channel in channels %}
			<li><a href="{{channels[channel]}}" target="_blank"> {{channel}} </a></li>
			{% endfor %}
			
			<h2> Soittolistat </h2>			
			{% for playlist in plalists %}
			<li><a href="{{playlists[playlist]}}" target="_blank"> {{playlist}} </a></li>
			{% endfor %}
			
        </div>
 
        
 
        <footer class="footer">
            <p>&copy; MJTJP</p>
        </footer>
 
    </div>
</body>
 
</html>